<!DOCTYPE html>
<html>
<head>
    <title>Root Finding Methods</title>
    <link rel="stylesheet" type="text/css" href="/style.css">
</head>
<body background="img/mcsc.png">
    <div class="container">
        <h1>Secant Method</h1>
        <form action="/calculate-secant" method="post">
            <label for="expression">Enter the function f(x):</label>
            <input type="text" id="expression" name="expression" placeholder="e.g., x^2 - 4" required />
            <br>
            <label for="a">a:</label>
            <input type="number" id="a" name="a" required />
            <br>
            <label for="b">b:</label>
            <input type="number" id="b" name="b" required />
            <br>
            <label for="tolerance">Tolerance (between 0 and 1):</label>
            <input type="number" id="tolerance" name="tolerance" step="0.00001" min="0" max="1" required />
            <br>
            <input type="submit" value="Calculate Root" />
        </form>
        <h2>Iterations:</h2>
        <table>
            <tr>
                <th>Iteration</th>
                <th>a</th>
                <th>b</th>
                <th>f(a)</th>
                <th>f(b)</th>
                <th>xn</th>
                <th>f(xn)</th>
            </tr>
            <% for (let i = 0; i < iterations.length; i++) { %>
                <tr>
                    <td><%= iterations[i].iteration %></td>
                    <td><%= iterations[i].a %></td>
                    <td><%= iterations[i].b %></td>
                    <td><%= iterations[i].fa %></td>
                    <td><%= iterations[i].fb %></td>
                    <td><%= iterations[i].xn %></td>
                    <td><%= iterations[i].fxn %></td>
                </tr>
            <% } %>
        </table>
        <% if (root !== null) { %>
            <h2>Root:</h2>
            <p>The estimated root is: <%= root %></p>
        <% } else { %>
            <h2>Root:</h2>
            <p>No root found within the specified tolerance.</p>
        <% } %>
        <form action="/" method="get">
            <input type="submit" value="Reset" />
        </form>
    </div>
</body>
</html>
